:root{
  --color-black: #00100b;
  --color-aero: #14bdeb;
  --color-thistle: #dccde8;
  --color-white: #fff;
}

html {
    /* Universal Box Sizing with Inheritance */
    box-sizing: border-box;
    scroll-behavior: smooth; 
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    /* Google Font  */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* Google Font End */
    background-color: var(--color-black);
}
/* Header */

#div_nav_header{
  width: 100%;
  height: auto;
  z-index: 2000;
}

header #nav_bar{
  background-color: none !important;
}
header #nav_bar a{
  color: var(--color-white);
  font-weight: bold;
  font-size: 18px;
}
#div_nav_header #logo_viajes_chile{
  height: 50px;
}
#div_nav_header #p_viajes_chile{
  font-weight: bold;
  font-size: 35px;
  color: var(--color-white);
}

#div_nav_header a{
  scroll-behavior: smooth;
}
/* Carousel */
#carouselExampleFade img{
  height:auto;
}
/* WHO SECTION START  */
#whoWeAre i{
  color: var(--color-white);
  background-color: var(--color-aero);
  font-size: 20px;
}
#whoWeAre{
  color: var(--color-white);
  text-align: justify;
}

/* WHO SECTION END  */

/* SECTION-HIGHLIGHTS */
#highlight .card{
 background-color: var(--color-aero);
 color: var(--color-white);
 border: 2px solid gray;
}

#highlight img{
  height: 175px;
}
/*SECTION END HIGHLIGHTS*/

/* FORM SECTION START */

#contact_form,label, h2, hr{
  color: var(--color-white);
}

#contact_form #btn_send{
  background-color: var(--color-aero);
  color: var(--color-white);
  width: 100px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--color-aero);
  --bs-tooltip-color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
}


/* FORM SECTION END  */

/* START FOOTER */
footer{
  background-color: var(--color-aero);
  color: var(--color-white);

}
footer a:visited{
  color: inherit;

}
footer i{
  padding-left: 10px;
  font-size: 30px;
}
/* END FOOTER  */
